

.cont{

    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    width: 890px;
    height: 600px;
    overflow-y: scroll;


  }
  
  .card-contact{
      border: 1px solid#567767;
      color: white;
      width: 380px;
      padding: 5px;
      position: relative;
      
      
  }

  .wrapper{
    display: flex;
  }

  .card-contact p{
    color: #567767;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .card-contact h3{
    text-align: center;
  }

  .card-contact img{
    border-radius: 50%;
  }

  .avatar{

    width: 130px;
    margin: 0px auto;
  }

  .card-contact-btns{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4;
    top: 4px;
    gap: 20px;
    
    
  }

  .card-contact-btns button{
    background-color: transparent;
    border: none;
    cursor: pointer;

  }

  .card-contact-btns svg{
    font-size: 20px;
    color: #567767;
    
  }

  
    

::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #567767; 
    border-radius: 6px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  


  
  
