
  @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  a{
    color: #25492f;
    font-size: 15px;
    text-transform: uppercase;

  }

  a:hover{
    color: #125e28;
  }

  
  .search{
    width: 200px;
    border: 2px solid #126055;
    position: absolute;
    right: 40px;
    top: 5px;

  }

  .logo{
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 20px;
    color: #25492f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: capitalize;
  }

  nav{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
  
  }


  header{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  
    padding-bottom: 40px;
    position: relative;
    background-color: #567767;
    height: 60px;
    margin-bottom: 20px;
  }




  
  
  