
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



#root{

    font-family: 'Montserrat', sans-serif;
    color: black;
    
    height: 100vh;
    overflow: hidden;
    background: rgba(23, 23, 24, 0.871);
    
}  

